<!DOCTYPE html>
<html lang="en">

<%- include('head', {title: "Flow"}); %>

<body>

  <%- include('navbar'); %>

  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="col">
        <button type="button" class="btn btn-primary btn-sm mb-3" id="refresh-flow-button">Refresh Flow</button>

        <div class="row g-2">
          <div class="col-md-4">
            <div class="form-floating">
              <input type="text" class="form-control" id="pc-id" value="<%= processingChannelId %>">
              <label for="pc-id">Processing Channel ID Override</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating">
              <input type="text" class="form-control" id="pk" value="<%= publicKey %>">
              <label for="pk">Public Key Override</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating">
              <input type="text" class="form-control" id="sk" value="sk_sbox_***************************">
              <label for="sk">Secret Key Override</label>
            </div>
          </div>
        </div>        

        <div class="form-floating">
          <select class="form-select form-select-sm" id="component-type-dropdown">
            <option value="flow" selected>flow</option>
            <option value="card">card</option>
            <option value="card">card (tokenization only)</option>
            <option value="applepay">applepay</option>
            <option value="googlepay">googlepay</option>
            <option value="paypal">paypal</option>
            <option value="plaid">plaid</option>
          </select>
          <label for="component-type-dropdown">Component Type</label>
        </div>
        <div class="form-floating">
          <select class="form-select form-select-sm" id="locale-dropdown">
            <option value="ar">Arabic</option>
            <option value="zh">Chinese (China)</option>
            <option value="zh-hk">Chinese (Hong Kong)</option>
            <option value="zh-tw">Chinese (Taiwan)</option>
            <option value="da">Danish</option>
            <option selected value="en">English</option>
            <option value="fi">Finnish</option>
            <option value="fil">Filipino</option>
            <option value="fr">French</option>
            <option value="de">German</option>
            <option value="el">Greek</option>
            <option value="hi">Hindi</option>
            <option value="id">Indonesian</option>
            <option value="it">Italian</option>
            <option value="ja">Japanese</option>
            <option value="ms">Malay</option>
            <option value="nb">Norwegian Bokmål</option>
            <option value="pt">Portuguese</option>
            <option value="es">Spanish</option>
            <option value="sv">Swedish</option>
            <option value="th">Thai</option>
            <option value="vi">Vietnamese</option>
          </select>
          <label for="locale-dropdown">Locale</label>
        </div>
        <div class="form-floating">
          <select class="form-select form-select-sm" id="pay-button-dropdown">
            <option value="true" selected>true</option>
            <option value="false">false</option>
          </select>
          <label for="pay-button-dropdown">Show Pay Button on Flow</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="appearance-input" value='{"colorPrimary": "black"}'>
          <label for="appearance-input">Appearance</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="component-options-input" value='{"card": {"data": {"cardholderName": "John Doe"}}}'>
          <label for="component-options-input">Component Options</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="translations-input" value='{"en": {"pay_button.pay": "Submit"}}'>
          <label for="translations-input">Translations</label>
        </div>

        <label for="req-textarea">Request to /payment-sessions</label>
        <textarea class="form-control" id="req-textarea" rows="20"></textarea>

        <label for="res-textarea">Response from /payment-sessions</label>
        <textarea class="form-control" id="res-textarea" rows="20" disabled></textarea>

      </div>
      <div class="col">
        <div id="flow-element"><!-- Flow content rendered here --></div>
        <button type="button" class="btn btn-primary btn-sm mt-2 mb-1 invisible w-100" id="merchant-owned-pay-button" disabled>
          <span>Merchant's Pay Button</span>
        </button>
        <table class="table table-sm">
          <thead id="events-table-head">
          </thead>
          <tbody id="events-table-body">
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%- include('bootstrap-js'); %>
  <script src="https://checkout-web-components.checkout.com/index.js"></script>
  <script type="module" src="js/flow.js"></script>
</body>
</html>