<!DOCTYPE html>
<html lang="en">

<%- include('head', {title: "PayPal"}); %>

<body>

  <%- include('navbar'); %>
  
  <div class="container-fluid mt-3">
    <div id="paypal-button-container" style="width: 240px;"></div>
    <pre id="paypal-payment-result" class="mt-3"></pre>
  </div>
  
  <%- include('bootstrap-js'); %>

  <script src="https://www.paypal.com/sdk/js?client-id=<%= paypalClientId %>&intent=capture&buyer-country=US&merchant-id=<%= paypalMerchantId %>&enable-funding=venmo" data-partner-attribution-id="CheckoutLtd_PSP"></script>
  
  <script type="module" src="js/paypal.js"></script>

</body>

</html>